@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", serif;
  font-size: 18px;
}
#nav {
  top: 0;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 1000;
}
#nav #sectionNva {
  position: sticky;
}
#nav p {
  padding: 10px;
  background-color: #f4f3f3;
  text-align: center;
  align-content: center;
  border-radius: 30px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/* Revers columns in css */

/* sidebar reve */
#sectionNva {
  width: 90%;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  margin: auto;
  align-items: center;
}
/* button */
#sectionNva button {
  border: none;
}
#sectionNva button a {
  padding: 0.5em;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  border-radius: 1.5em;
  box-shadow: 4px 1px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease-in-out, box-shadow 0.3s;
}
#sectionNva button a:hover {
  transform: scale(1.1) rotate(5deg);
  color: #ffffff;
  background-color: #1ea8e9;
}

#sectionNva span a {
  text-decoration: none;
}
#sectionNva span a:hover {
  text-decoration: underline;
}
#links a {
  color: black;
}
#links a:active {
  color: #e52020;
}
#content {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 20px;
  justify-items: center;
  width: 90%;
  height: 100%;
  background-color: #efefef;
  border-radius: 20px;
}
#main-content {
  justify-items: center;
  width: 100%;
  height: 65vh;
}
#box1 {
  display: flex;
  color: #000000;
  width: 90%;
  height: 100%;
  justify-content: center;
  border-radius: 20px;
  margin-right: 50px;
}
#button button {
  border-radius: 20px;
  padding: 8px;
  border: none;
  width: 150px;
  background-color: #1ea8e9;
}
#button button a {
  text-decoration: none;
  color: #ffffff;
}
#icon {
  display: flex;
}
#imgMore img {
  width: 40px;
  height: 32px;
}
#box1 p {
  width: 40%;
  letter-spacing: 0.5px;
  line-height: 1.9;
}
#sub-main {
  width: 80%;
  height: 75%;
}
#sub-main p {
  margin-top: 15px;
}
#box1-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  width: 80%;
  height: 60%;
}
#box1 #box1-1 h1 {
  font-size: 2em;
  align-content: center;
}
#box1 #box1-1 h1::first-letter {
  font-size: 3em;
  color: #1ea8e9;
}
#box2 {
  display: flex;
  flex-direction: row;
  gap: 2em;
  width: 90%;
  height: 100%;
  border-radius: 20px;
  margin-right: 50px;
  align-items: center;
  justify-content: center;
}

#revers {
  display: flex;
  width: 5em;
  height: 100%;
}

#sidebar p {
  margin-top: 5em;
  margin-bottom: 3em;
  display: flex;
  gap: 0.4em;
  transform: rotate(-90deg);
}
#sidebar #last {
  text-decoration-line: underline;
}
#footer {
  display: flex;
  background-color: #efeeea;
  height: 60px;
  justify-content: center;
  align-items: center;
}
#profit {
  margin-left: 1em;
  width: 60%;
  height: 60%;
}
#siem p {
  margin-top: 0.3em;
  font-size: 0.7em;
}
#card-first img {
  width: 2.5em;
  height: 2.5em;
  border-radius: 100%;
}
#card-first {
  margin-top: 1.5em;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  width: 13em;
  height: 7em;
  border-radius: 1em;
}
#sky {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  align-items: center;
  width: 50%;
  height: 80%;
}
#sky h5 {
  align-items: flex-end;
}
#card-secend {
  align-items: center;
  width: 10em;
  height: 15em;
  border-radius: 1em;
  background-image: url(../Images/card5.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 5px 4px 5px 0 rgba(0, 0, 0, 0.2);
}
#sub-title {
  margin-top: 9em;
  margin-left: 1em;
  border-radius: 0.5em;
  width: 80%;
  height: 5em;
  background-color: rgba(256, 256, 256, 0.7);
}
#sub-title svg {
  margin-left: 3em;
}
/* star of the picture */

#sub-title #p {
  margin-left: 10px;
}
#title-text img {
  width: 2em;
  height: 2em;
}

#card-three {
  margin-top: 1em;
  width: 10em;
  height: 15em;
  border-radius: 1em;
  background-image: url(../Images/card4.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 5px 4px 5px 0 rgba(0, 0, 0, 0.2);
}
#card-four {
  display: flex;
  width: 14em;
  height: 8em;
  border-radius: 1em;
  gap: 0.3em;
  background-color: #ffffff;
}

#alticals2 {
  margin-top: 5px;
  width: 50%;
  height: 80%;
  position: relative;
}
#card-four-first {
  margin-top: 0.3em;
  margin-left: 0.5em;
  width: 40%;
  height: 90%;
}
#card-four-first img {
  height: 100%;
  width: 90%;
  border-radius: 1em;
  border: 2px solid #ffffff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
#alticals2 p {
  font-size: 0.8em;
  color: #000000;
}
#card-four-secend {
  height: 83%;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
#mini-card1 {
  border-radius: 0.5em;
  width: 40%;
  height: 90%;
  background-color: #a3a7b5;
  z-index: 1;
}
#mini-card1 img {
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
  border: 1px solid #ffffff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
#mini-card2 {
  border-radius: 0.5em;
  width: 40%;
  height: 90%;
  background-color: #09122c;
  z-index: 2;
  margin-left: -10px;
}
#mini-card2 img {
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
  border: 1px solid #ffffff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
#mini-card3 {
  border-radius: 0.5em;
  width: 40%;
  height: 90%;
  background-color: #0e37b1;
  z-index: 3;
  margin-left: -10px;
}
#mini-card3 img {
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
  border: 1px solid #ffffff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
#first-dev {
  height: 96%;
  flex-direction: column;
  display: flex;
  gap: 0.5em;
}
#secend-dev {
  height: 100%;
  gap: 0.3em;
  display: flex;
  flex-direction: column;
}
#content-secend {
  width: 100%;
  height: 55vh;
  display: flex;
  justify-content: center;
}
#content-secend-first {
  display: flex;
  width: 90%;
  align-items: center;
}

#div-box1 {
  justify-content: center;
  width: 50%;
  height: 100%;
}
#text {
  margin-left: 5em;
  margin-top: 2em;
  width: 80%;
  height: 30%;
}
#text2 {
  margin-left: 5em;
  width: 70%;
  height: 30%;
}
#text2 p {
  line-height: 2em;
}
#div-box1 h2 {
  font-size: 2em;
}
#box2-three {
  height: 100%;
  width: 90%;

  display: flex;
  gap: 1em;
}
#div-box2 {
  align-items: center;
  gap: 1em;
  display: flex;
  width: 50%;
  height: 100%;
}
#box2-first-card {
  margin-top: 1em;
  width: 25%;
  height: 70%;
  border-radius: 1em;
  border: 1em solid #ffffff;
  transition: 1ms;
  transition: transform 0.5s ease-in-out;
  box-shadow: 1px 5px 5px 5px rgba(0, 0, 0, 0.2);
}
#box2-first-card img {
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
}
#box2-first-card:hover {
  transform: scale(1.05);
}
#box2-secend-card:hover {
  transform: scale(1.05);
}
#box2-three-card:hover {
  transform: scale(1.05);
}
/* section 2 */
#box2-secend-card {
  transition: transform 0.5s;
  margin-top: 4em;
  width: 25%;
  height: 70%;
  border-radius: 1em;
  border: 1em solid #ffffff;
  box-shadow: 1px 5px 5px 5px rgba(0, 0, 0, 0.2);
}
#box2-secend-card img {
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
}
#box2-three-card {
  transition: transform 0.5s;
  margin-top: 2.3em;
  width: 25%;
  height: 70%;
  border-radius: 1em;
  border: 1em solid #ffffff;
  box-shadow: 1px 5px 5px 5px rgba(0, 0, 0, 0.2);
}
#box2-three-card img {
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
}
#content-three {
  width: 100%;
  height: 5em;
}
#content-three {
  justify-items: center;
}
#content-three h3 {
  font-size: 1.5em;
}
#content-three p {
  line-height: 4em;
}
#content-four {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 75vh;
}
#content-four-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  width: 40%;
  height: 100%;
}
#content-four-2 {
  width: 40%;
  height: 100%;
}
/* button section two */
#button2 button a:hover {
  color: #ffffff;
}

#button2 button:hover {
  background-color: #1ea8e9;
  color: #ffffff;
}
#button2 button svg:hover {
  fill: #fff;
}
/* button ohver */
#button2 button a {
  color: #1ea8e9;
  text-decoration: none;
}
#button2 button {
  margin-left: 5em;
  padding: 0.3em;
  background-color: #ffffff;
  border: 0.1em solid#1ea8e9;
  border-radius: 2em;
}
/* button styles of the three page*/
#section-1 button {
  color: #ffffff;
  background-color: #1ea8e9;
  padding: 0.5em;
  border: none;
  border-radius: 0.2em;
}
#section-1 {
  width: 80%;
  height: 9em;
}
#section-1 p {
  margin-top: 1em;
}
#section-1 h3 {
  margin-top: 0.2em;
}
#section-2 h3 {
  margin-top: 0.2em;
}
#section-3 h3 {
  margin-top: 0.2em;
}
#section-2 p {
  margin-top: 1em;
}
#section-3 p {
  margin-top: 1em;
}
#section-2 button {
  color: #ffffff;
  background-color: #1ea8e9;
  padding: 0.5em;
  border: none;
  border-radius: 0.2em;
}
#section-2 {
  width: 80%;
  height: 9em;
}
#section-3 button {
  color: #ffffff;
  background-color: #1ea8e9;
  padding: 0.5em;
  border: none;
  border-radius: 0.2em;
}
#section-3 {
  width: 80%;
  height: 9em;
}
#content-four-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 11em;
  border-radius: 0.5em;
  width: 15em;
  height: 95%;
  background-image: url(../Images/card-1.jpg);
  background-size: cover;
  background-position: center;
}
#message1-card {
  align-items: center;
  display: flex;
  margin-left: -3em;
  width: 10em;
  border-radius: 0.8em;
  height: 3em;
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.2);
  background-color: rgba(256, 256, 256, 0.7);
}
#message1 p {
  font-size: 0.1em;
}
#message2 p {
  font-size: 0.1em;
}
#message3 p {
  font-size: 0.1em;
}
#message1-card img {
  margin-left: 0.5em;
  border-radius: 3em;
  width: 2.5em;
  height: 2.5em;
}
#message2-card img {
  margin-left: 0.5em;
  border-radius: 3em;
  width: 2.5em;
  height: 2.5em;
}
#message3-card img {
  margin-left: 0.5em;
  border-radius: 3em;
  width: 2.5em;
  height: 2.5em;
}
#message2-card {
  margin-left: 10em;
  align-items: center;
  display: flex;
  width: 10em;
  border-radius: 0.8em;
  height: 3em;
  background-color: rgba(256, 256, 256, 0.7);
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.2);
}
#message3-card {
  align-items: center;
  display: flex;
  margin-left: -3em;
  width: 10em;
  border-radius: 0.8em;
  height: 3em;
  background-color: rgba(256, 256, 256, 0.7);

  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.2);
}
